<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039992495477-2a7q20oefu32alfsve7t6p6otk6ifisu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039992495477-2a7q20oefu32alfsve7t6p6otk6ifisu</string>
	<key>API_KEY</key>
	<string>AIzaSyBEpUXbSerx5u3OYqo1JdFz4RcxWpW1cdA</string>
	<key>GCM_SENDER_ID</key>
	<string>1039992495477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.forumHorizonChimie</string>
	<key>PROJECT_ID</key>
	<string>test-3cadd</string>
	<key>STORAGE_BUCKET</key>
	<string>test-3cadd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039992495477:ios:299d47fb6de8b4473fc73c</string>
	<key>DATABASE_URL</key>
	<string>https://test-3cadd.firebaseio.com</string>
</dict>
</plist>